form.slideform-form {
    width: 100%;
    height: 100%;
    font-family: $base-font-family;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    .slideform-track {
        overflow: hidden;
        flex: 1;
    }

    .slideform-wrapper {
        -webkit-transition: all $sf-transition;
        transition: all $sf-transition;
    }

    .slideform-slide {
        height: $sf-height;
        // padding-bottom: $sf-footer-height * 2;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        // overflow: auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-overflow-scrolling: touch;
        opacity: 0;
        -webkit-transition: opacity $sf-transition;
        transition: opacity $sf-transition;
        overflow: auto;

        &.active {
            opacity: 1;
        }

        @media screen and (max-width: 767px) {
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }
    }

    .slideform-group {
        max-width: $sf-group-width;
        width: 90%;
        padding: 30px 15px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .slideform-btn {
         -webkit-appearance: none;
        height: $sf-btn-height;
        padding: $sf-btn-padding;
        font-size: $sf-btn-font-size;
        margin-right: 10px;
        margin-top: 30px;
        -webkit-appearance: none;
        border-radius: 6px;
        background: $sf-bg-color;
        border-color: $sf-bg-color;
        color: $sf-btn-text-color;
        -webkit-transition: all .15s ease;
        transition: all .15s ease;
        outline: none;

        &:disabled {
            background: $sf-color-tertiary;
            border: 1px solid $sf-color-tertiary;
            color: $sf-color-secondary;
        }
    }



    h2, h3 {
        margin-top: 0;
    }

    h2 {
        font-size: 28px;
        margin: 0 0 15px;
    }

    h3 {
        font-size: 20px;
        line-height: 1.4em;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0 10px;
    }

    p {
        font-size: 16px;
        line-height: 1.6em;
        margin-bottom: 15px;
    }

    a {
        -webkit-tap-highlight-color: transparent;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea {
        width: 100%;
        padding: 15px;
        font-size: 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: none;
        outline: none;
        border-radius: none;
        background: $sf-color-tertiary;

        &:focus {
            border-bottom: 1px solid lighten( $sf-color-primary, 20%);
        }
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type=number] {
        height: 50px;

        &.small {
            height: 40px;
            padding: 10px 15px;
            font-size: 16px;
        }
    }


    .options-list {
        label {
            display: block;
            margin: 0;
        }

        input[type=checkbox], input[type=radio] {

            position: absolute;
            left: -9999px;

            &:checked + span:after {
                opacity: 1;
                -webkit-transform: scale(1);
                        transform: scale(1);
            }

            + span {
                display: inline-block;
                position: relative;
                font-weight: 600;
                padding: 10px 0;

                &:before {
                    content: '';
                    margin-right: 10px;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    vertical-align: middle;
                    background: $sf-color-tertiary;
                    border: 1px solid $sf-color-secondary;
                }

                &:after {
                    font-family: 'slideform' !important;
                    display: inline-block;
                    content: "\f00c";
                    font-size: 22px;
                    color: $sf-color-primary;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    left: 0;
                    top: 10px;
                    text-align: center;
                    line-height: 30px;
                    opacity: 0;
                    -webkit-transform: scale(3);
                            transform: scale(3);
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                }
            }
        }

        input[type=radio] {
            + span:before {
                border-radius: 50%;
            }

            + span:after {
                content: '';
                width: 16px;
                height: 16px;
                background: $sf-color-primary;
                border-radius: 50%;
                top: 18px;
                left: 8px;
            }
        }
    }


    .options-buttons label {

        margin: 0 5px 15px 0;

        input[type=radio], input[type=checkbox] {
            position: absolute;
            left: -9999px;

            &:checked + span {
                background: $sf-color-primary;
                border: 1px solid $sf-color-primary;
                color: $sf-btn-text-color;
            }
        }


        input[type=checkbox] + span, input[type=radio] + span {
            font-size: 16px;
            line-height: 20px;
            display: inline-block;
            background: $sf-color-tertiary;
            border: 1px solid $sf-color-secondary;
            padding: 5px 20px;
            width: auto;
            text-align: center;
            cursor: pointer;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            border-radius: 4px;
            font-weight: 600;
        }
    }

    label.error {
        color: $sf-color-red;
        display: block;
        font-size: 14px;
        margin-top: 5px;
    }

    .slideform-condition {
        display: none;
    }

    .slideform-footer {
        background: #fff;
        padding: 0 15px;
        border-top: 1px solid $sf-color-tertiary;
        z-index: 1000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: $sf-footer-height;

        .slideform-btn {
            height: 30px;
            display: inline-block;
            line-height: 30px;
            font-size: 20px;
            margin: 0 5px;
        }
    }

    .slideform-progress-bar {
        height: 10px;
        border-radius: 5px;
        max-width: 200px;
        background: #f6f6f6;
        display: inline-block;
        overflow: hidden;
        line-height: 0;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-right: 20px;

        span {
            display: inline-block;
            width: 0%;
            height: 100%;
            background: $sf-color-primary;
            -webkit-transition: all $sf-transition;
            transition: all $sf-transition;
        }
    }
}
