// Global Elements
$sf-height: 100vh !default;

// Breakpoints
$md-breakpoint: 767px !default;
$sm-breakpoint: 479px !default;

// Fonts
// We use system fonts to save as much resources as we want, but you can
// use any custom font you want.
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Variables
$sf-group-width: 600px !default;

// Colors
$sf-color-primary: #FF7F11 !default;
$sf-color-secondary: #E0E0CE !default; // Used for secondary buttons, helpers. etc.
$sf-color-tertiary: #f6f6f6 !default; // Used for lines, borders, etc.
$sf-color-black: #000000 !default;
$sf-color-white: #EAEAEA !default;
$sf-color-red: #F93943 !default;

// Buttons
$sf-btn-height: 40px !default;
$sf-btn-padding: 0 20px !default;
$sf-btn-font-size: 16px !default;
$sf-bg-color: $sf-color-primary !default;
$sf-btn-text-color: #fff !default;
$sf-btn-text-color-inverse: #000 !default;

// footer
$sf-footer-height: 50px !default;

// Transitions
$sf-transition: .5s ease !default;
